.visibleForm{
    display: block;
}
.nonVisibleForm{
    display: none;
}
.Form{
    background-color: blueviolet;
    width: 85%;
    margin:0 auto;
    border-radius: 10px;
}
.inputWrap{
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    justify-content: space-evenly;
}
.inputCover{
    display: grid;
    justify-content: left;
    height: 5rem;
    align-items: center;
    margin-left: 20px;
    font-weight: 900;
}
.inputCover input[type=text],input[type=number]{
   border-radius: 5px;
   border: 1px solid black;
   height: 35px;
   width: 130%;
}
 .inputCover input[type=date]{
    border-radius: 5px;
    border: 1px solid black;
    height: 35px;
    width: 200%;
 }
 .Addexpense{
    display: grid;
    justify-content: left;
    height: 5rem;
    align-items: center;
    margin-left: 200px;
    padding-top: 20px;  
 }
 input[type=submit]{
    background-color: rgb(65, 4, 57);
    color: white;
    border: 1px solid black;
    height: 40px;
    width: 150%;
    border-radius: 5px;
 }
button{
    background-color: rgb(65, 4, 57);
    color: white;
    margin: 15px 0 0 200px;
    height: 40px;
    width: 45%;
    border-radius: 10px;
    border: none;
}

/* ===================================== */
 @media(max-width:850px){
   
        button{
            margin-left: 90px;
            width: 50%;
        }
        .Form{
            width: 85%;
            margin:0 auto; 
        }
        .inputCover input[type=text]{
            width: 110%;
         }
         .amt{
             margin-left: 40px ;
         }
         .inputCover input[type=number]{
             width: 80%;
             margin-left: 40px;
          }
          .inputCover input[type=date]{
              width: 150%;
          }
          .Addexpense{
            margin-left: 100px; 
         }
          input[type=submit]{
             width: 110%;
          }
    } 
    

@media(max-width:550px){
    button{
        margin-left: 90px;
        width: 50%;
    }
    .Form{
        width: 85%;
        margin-left: 35px; 
    }
    .inputCover input[type=text]{
        width: 110%;
     }
     .amt{
         margin-left: 40px ;
     }
     .inputCover input[type=number]{
         width: 70%;
         margin-left: 40px;
      }
      .inputCover input[type=date]{
          width: 130%;
      }
      .Addexpense{
        margin-left: 100px; 
     }
      input[type=submit]{
         width: 110%;
      }
}



